# Auto detect text files and perform LF normalization
*.bat           text eol=crlf
*.ps            text eol=crlf
*.md            text eol=lf
*.xml           text eol=lf
*.sln           text eol=lf
*.csproj        text eol=lf
*.cs            text eol=lf
*.sh            text eol=lf
*.json          text eol=lf
*.verified.txt  text eol=lf working-tree-encoding=UTF-8
*.verified.xml  text eol=lf working-tree-encoding=UTF-8
*.verified.json text eol=lf working-tree-encoding=UTF-8
